<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Dynamic and results-driven software products executive with deep expertise in mobility, automotive, and AI-powered solutions. Skilled at building and leading high-performing teams across both large enterprises and fast-paced startups. Proven ability to deliver innovative, market-leading products by blending strategic vision with hands-on technical execution. Adept at navigating ambiguity, streamlining internal processes, shaping product architecture, and cultivating strong partner ecosystems. 
        <br><br>
          
      </div>
      <div class="col-lg-4">
        <p>
        Calm and decisive under pressure, with a “roll-up-your-sleeves” leadership style that ensures products move efficiently from concept to launch. Experienced in negotiating complex technology contracts and driving sustainable business growth through innovation and collaboration.
</p>
<p>Ready to tackle new challenges and continue to bring compelling automotive experiences to market. </p>
      </div>
    </div>
  </div>
</section>
